<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Full stack CRUD Example with Spring Boot, MySQL and VueJS</title>
    <link href="https://unpkg.com/bootstrap@3.4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/country.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Countries</h1>
    <main id="app">
        <router-view></router-view>
    </main>
</div>

<template id="country">
    <div>
        <b>Code: </b>
        <h2>{{ country.code }}</h2>
        <b>Name: </b>
        <div>{{ country.name }}</div>
        <br/>
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        <a>
            <router-link to="/">Back to country list</router-link>
        </a>
    </div>
</template>

<template id="country-list">
    <div>
        <div class="actions">
            <a class="btn btn-default">
                <router-link :to="{path: '/add-country'}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add country
                </router-link>
            </a>
        </div>
        <div class="filters row">
            <div class="form-group col-sm-3">
                <input placeholder="Search" v-model="searchKey" class="form-control" id="search-element" requred/>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <!--<th>Price</th>-->
                <th class="col-sm-2">Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr v-for="country in filteredProducts">
                <!-- tr v-for="product in products" -->
                <!-- tr v-for="product in products | filterBy searchKey in 'name'" -->
                <td>
                    <a>
                        <router-link :to="{name: 'country', params: {country_id: country.id}}">{{ country.code }}
                        </router-link>
                    </a>
                </td>

                <td>{{ country.name }}</td>

                <!--<td>-->
                    <!--{{ country.price }}-->
                    <!--&lt;!&ndash;<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>&ndash;&gt;-->
                <!--</td>-->
                <td>
                    <a class="btn btn-warning btn-xs">
                        <router-link :to="{name: 'country-edit', params: {country_id: country.id}}">Edit</router-link>
                    </a>
                    <a class="btn btn-danger btn-xs">
                        <router-link :to="{name: 'country-delete', params: {country_id: country.id}}">Delete
                        </router-link>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>


<template id="country-add">
    <div>
        <h2>Add new country</h2>
        <form @submit="createProduct">
            <div class="form-group">
                <label for="add-name">Name</label>
                <input class="form-control" id="add-name" v-model="country.name" required/>
            </div>
            <div class="form-group">
                <label for="add-description">Description</label>
                <textarea class="form-control" id="add-description" rows="10" v-model="country.description"></textarea>
            </div>
            <div class="form-group">
                <label for="add-price">Price, <span class="glyphicon glyphicon-euro"></span></label>
                <input type="number" class="form-control" id="add-price" v-model="country.price"/>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <a class="btn btn-default">
                <router-link to="/">Cancel</router-link>
            </a>
        </form>
    </div>
</template>

<template id="country-edit">
    <div>
        <h2>Edit country</h2>
        <form @submit="updateProduct">
            <div class="form-group">
                <label for="edit-name">Name</label>
                <input class="form-control" id="edit-name" v-model="country.name" required/>
            </div>
            <div class="form-group">
                <label for="edit-description">Description</label>
                <textarea class="form-control" id="edit-description" rows="3" v-model="country.description"></textarea>
            </div>
            <div class="form-group">
                <label for="edit-price">Price, <span class="glyphicon glyphicon-euro"></span></label>
                <input type="number" class="form-control" id="edit-price" v-model="country.price"/>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-default">
                <router-link to="/">Cancel</router-link>
            </a>
        </form>
    </div>
</template>

<template id="country-delete">
    <div>
        <h2>Delete country {{ country.name }}</h2>
        <form @submit="deleteCountry">
            <p>The action cannot be undone.</p>
            <button type="submit" class="btn btn-danger">Delete</button>
            <a class="btn btn-default">
                <router-link to="/">Cancel</router-link>
            </a>
        </form>
    </div>
</template>

<script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
<script src="/country.js"></script>

</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--<meta name="description" content="">-->
<!--<meta name="author" content="">-->
<!--<title>Full stack CRUD Example with Spring Boot, MySQL and VueJS</title>-->
<!--<link href="https://unpkg.com/bootstrap@3.4.0/dist/css/bootstrap.min.css" rel="stylesheet">-->
<!--<link href="/countrys.css" rel="stylesheet"/>-->
<!--</head>-->
<!--<body>-->
<!--<script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>-->
<!--<script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>-->
<!--<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>-->
<!--&lt;!&ndash;<script src="main_00.js"></script>&ndash;&gt;-->
<!--<script src="/router.js"></script>-->
<!--<script src="/country/countryService.js"></script>-->

<!--&lt;!&ndash;<div id="app">&ndash;&gt;-->
<!--&lt;!&ndash;<h1>TEST =)</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<app></app>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="container">-->
<!--<h1>Product CRUD =)</h1>-->
<!--<main id="app">-->
<!--<router-view></router-view>-->
<!--</main>-->

<!--</div>-->


<!--</body>-->
<!--</html>-->