.actions {
    margin-bottom: 20px;
    margin-top: 20px;
}

.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    table-layout: fixed;
}

.cellTitle {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 25px;
    margin-right: 0px;

    padding: 0px;
}

.td {
    vertical-align: top;
    align: left;
}

.tablePadding {
    /*background-color: #F6C6CE;*/
}

.details {
    text-align: left;
    font-size: smaller;
    /*padding: 50px 50px 50px 50px;*/
    /*padding: 0px;*/
    /*padding-left: 30px;*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/

    /*margin: -10px;*/
}

.tdTitle {
    text-align: left;
    font-size: smaller;
    padding-left: 10px;
}

.leftAlignForDetails {
    /*margin-bottom: 0px;*/
    /*margin-top: 0px;*/
    /*margin-left: 15px;*/
    /*margin-right: 0px;*/

    /*padding: 0px;*/
    text-align: left;
}

.linkButton {
    /*border: 3px solid #666; !* Параметры рамки *!*/
    /*padding: -15px; !* Поля вокруг текста *!*/
    margin-left: -15px; /* Отступы вокруг */
    margin-bottom: -10px;
    margin-top: -15px;

}

.form-horizontal .control-label .text-left{
    text-align: left;
    margin-left: 25px;
}

.formCreation{
    vertical-align: text-bottom;
    text-align: left;
    margin-left: 30px;
    /*margin-right: 40px;*/
    font-size: medium;
    /*font-weight: bold;*/
}

.hashtagAddVue{
    vertical-align: text-bottom;
    text-align: left;
    margin-left:15px;
    /*margin-right: 40px;*/
    font-size: small;
}

.authorsFormCreation{
    /*padding-left: 30px;*/
    /*padding-top: 0px;*/
    margin-left: 30px;
    font-size: medium;
    font-weight: bold;
    text-align: left;
}

/*Titles in pages of different content*/
.pageCreateTitle{
    text-align: left;
    /*margin-left: 55px;*/
    padding-left: 30px;
    font-weight: bold;
    /*font-size: larger;*/
    background-color: orange;
}

.pageEditTitle{
    text-align: left;
    /*margin-left: 55px;*/
    padding-left: 30px;
    font-weight: bold;
    /*font-size: larger;*/
    background-color: aquamarine;
}

.pageDeleteTitle{
    text-align: left;
    /*margin-left: 55px;*/
    padding-left: 30px;
    font-weight: bold;
    /*font-size: larger;*/
    background-color: darksalmon;
}

.pageDetailsTitle{
    text-align: left;
    /*margin-left: 55px;*/
    padding-left: 110px;
    background-color: pink;
}

.pageLoginTitle{
    text-align: left;
    /*margin-left: 55px;*/
    padding-left: 50px;
    background-color: lightskyblue;
}

.pageLoginErrorTitle{
    text-align: left;
    /*margin-left: 55px;*/
    padding-left: 50px;
    background-color: orangered;
}

.greetingsTitle{
    text-align: left;
    /*margin-left: 55px;*/
    padding-left: 75px;
    background-color: palegreen;
}

.myHeader{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: larger;
    /*margin-left: 55px;*/
    padding-left: 0px;
    background-color: transparent;
}
/*********************************************/

.pageLoginForm{
    text-align: left;
    /*margin-left: 55px;*/
    padding-left: 50px;
}

.logoutNameAndButton{
    text-align: right;
    padding-right: 20px;
    font-size: smaller;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

/*.btn-xs {*/
/*// line-height: ensure proper height of button next to extra small input*/
/*@include button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius);*/
/*}*/

.btnXSmall{
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

/***********************/
.purple-border textarea {
    border: 1px solid #ba68c8;
}
.purple-border .form-control:focus {
    border: 1px solid #ba68c8;
    box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
}

.green-border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}
/***********************`
*/


table.redTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.redTable td, table.redTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
    max-height: 20px;
    height: 20px;
    overflow: hidden;
    /*background-color: #8bc34a;*/
}
table.redTable tbody td {
    font-size: 13px;
    max-height: 20px;
    height: 20px;
    overflow: hidden;
}
table.redTable tr:nth-child(even) {
    background: #D0E4F5;
    max-height: 50px;
}
table.redTable thead {
    background: #0074D9;
    /*background: #1C6EA4;*/
}
table.redTable thead th {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
}
table.redTable thead th:first-child {
    border-left: none;
}

table.redTable tfoot {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
}
table.redTable tfoot td {
    font-size: 14px;
}
table.redTable tfoot .links {
    text-align: right;
}
table.redTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

.headerLink {
    cursor: pointer;
    text-decoration: underline;
}

.headerLink:hover {
    color: lightblue;
    cursor: pointer;
    text-decoration: underline;
}


/*-----------------*/

table.greyGridTable {
    border: 2px solid #FFFFFF;
    width: 100%;
    height: 10px;
    text-align: left;
    border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
    border: 1px solid #FFFFFF;
    padding: 4px 4px;
}
table.greyGridTable tbody td {
    font-size: 13px;
}
table.greyGridTable td:nth-child(even) {
    background: #EBEBEB;
}
table.greyGridTable thead {
    background: #FFFFFF;
    border-bottom: 2px solid #333333;
}
table.greyGridTable thead th {
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    text-align: left;
}
table.greyGridTable tfoot td {
    font-size: 14px;
}